<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/accommodation-detail.css">
    <script src="/js/accommodation-detail.js" defer></script>
</head>

<body>
    <div class="header">
        <a href="/">
            <div class="header__logo"></div>
        </a>
    </div>
    <h1 class="accommodation-detail__title"><%= accommodation.name.toUpperCase() %></h1>
    <div class="accommodation-detail">
        <div class="accommodation-detail__slider">
            <% for (let i=0; i < accommodation.slider; i++) { %>
                <% if (i === 0) { %>
                    <img class="slider__item" src="/img/accommodation/slider/<%= accommodation.slug %>/<%= i %>.jpg" style="opacity: 1;" draggable="false">
                <% } else { %>
                    <img class="slider__item" src="/img/accommodation/slider/<%= accommodation.slug %>/<%= i %>.jpg" draggable="false">
                <% } %>
            <% } %>
        </div>
        <div class="accommodation-detail__content">
            <p class="content__description"><%= accommodation.long_description %></p>
            <a href="https://fr.lartisien.com/hotel/amanzoe" target="_blank">
                <button class="content__button">Réserver maintenant</button>
            </a>
        </div>
    </div>
    <div class="accommodation-detail__commodities">
        <div class="commodities__separator"></div>
        <h2 class="commodities__title">Avantages exclusifs</h2>
        <ul class="commodities__list">
            <% for (let i=0; i < accommodation.commodities.length; i++) { %>
                <li class="list__item"><%= accommodation.commodities[i] %></li>
            <% } %>
        </ul>
    </div>
    <%- include('../partials/footer') %>
</body>

</html>